name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'
      
      - name: Restore dependencies
        run: dotnet restore
      
      - name: Build and publish
        run: dotnet publish -c Release -o release --nologo
      
      - name: Change base href
        run: sed -i 's/<base href="\/" \/>/<base href="\/UberExpenses\/" \/>/g' release/wwwroot/index.html
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./release/wwwroot
          force_orphan: true
          exclude_assets: 'README.md'